<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GreenThumb</title>
  <meta name="description" content="GreenThumb - Find your next green friend">
</head>
<body>
  <main class="o-wrapper">
    <div class="o-stage" data-js-stage>
      <section class="o-stage__step c-intro" data-stage-step="0" data-step-label="Home">
        <div class="o-container">
          <div class="c-intro__call-to-action">
            <div class="c-intro__logo">
              <img src="../assets/images/logo-greenthumb.svg" alt="greenthumb logo">
            </div>

            <h1 class="c-intro__title o-title o-title--highlight o-color--primary">
              Find your<span class="o-breakline--tablet-up"> next <span class="o-breakline--mobile-down">green<span class="o-breakline--tablet-up"> friend
            </h1>

            <button class="c-btn c-btn--primary c-btn--large c-btn--has-icon t-text--semi-bold c-intro__button" data-stage-command="next">
              <span class="c-btn__icon">
                <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-right"/></svg>
              </span>
              <span class="c-btn__text">start quizz</span>
            </button>
          </div>
        </div>
      </section>

      <section class="o-stage__step o-wall" data-stage-step="1" data-step-label="Sun">
        <div class="o-container">

          <div class="o-survey">

            <div class="o-survey__logo o-logo--wrap o-wall__logo">
              <img src="../assets/images/logo-greenthumb.svg" alt="greenthumb logo" class="o-wall__logo__image">
            </div>

            <figure class="o-survey__figure">
              <img src="../assets/images/sun.png" alt="sun with glasses" class="o-image--sun o-survey__image">
            </figure>

            <h2 class="o-survey__title o-title o-title--default o-color--default">
              First, set the amount <span class="o-breakline--mobile-down"></span> of<span class="o-breakline--tablet-up"></span> <em class="t-text--bold">sunlight</em> your <span class="o-breakline--mobile-down"></span>plant will get
            </h2>

            <div class="o-survey__wrap">
              <div class="o-survey__options">
                <div class="c-options c-options--primary" data-js-options>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <svg class="c-options__icon o-icon o-icon--2x"><use xlink:href="images/icons.svg#svg-high-sun"/></svg>
                      <span class="c-options__text t-text--light">High sunlight</span>
                      <input type="radio" name="sunValue" value="high" class="c-options__input">
                    </div>
                  </div>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <svg class="c-options__icon o-icon o-icon--2x c-options__icon"><use xlink:href="images/icons.svg#svg-low-sun"/></svg>
                      <span class="c-options__text t-text--light c-options__text">Low sunlight</span>
                      <input type="radio" name="sunValue" value="low" class="c-options__input">
                    </div>
                  </div>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <svg class="c-options__icon o-icon o-icon--2x o-icon--color-sun"><use xlink:href="images/icons.svg#svg-no-answer"/></svg>
                      <span class="c-options__text t-text--light">No sunlight</span>
                      <input type="radio" name="sunValue" value="no" class="c-options__input">
                    </div>
                  </div>
                </div>
              </div>

              <div class="o-survey__buttons">
                <button data-stage-command="next" class="c-btn c-btn--primary c-btn--large c-btn--has-icon t-text--light o-survey__button">
                  <span class="c-btn__icon">
                    <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-right"/></svg>
                  </span>
                  <span class="c-btn__text">Next</span>
                </button>
                <button data-stage-command="prev" class="c-btn c-btn--default c-btn--large c-btn--has-icon t-text--light o-survey__button">
                  <span class="c-btn__icon">
                    <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-left"/></svg>
                  </span>
                  <span class="c-btn__text">Home</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="o-stage__step o-wall" data-stage-step="2" data-step-label="Water">
        <div class="o-container">

          <div class="o-survey">

            <div class="o-survey__logo o-logo--wrap o-wall__logo">
              <img src="../assets/images/logo-greenthumb.svg" alt="greenthumb logo" class="o-wall__logo__image">
            </div>

            <figure class="o-survey__figure">
              <img src="../assets/images/wateringcan.png" alt="wateringcan" class="o-image--wateringcan o-survey__image">
            </figure>

            <h2 class="o-survey__title o-title o-title--default o-color--default">
              How often do you want to <span class="o-breakline--tablet-up"></span><em class="t-text--bold">water</em> your plant?
            </h2>

            <div class="o-survey__wrap">
              <div class="o-survey__options">
                <div class="c-options c-options--second" data-js-options>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <svg class="c-options__icon o-icon o-icon--2x"><use xlink:href="images/icons.svg#svg-one-drop"/></svg>
                      <span class="c-options__text t-text--light">Rarely</span>
                      <input type="radio" name="waterValue" value="rarely" class="c-options__input">
                    </div>
                  </div>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <span class="c-btn__icon">
                        <svg class="c-options__icon o-icon o-icon--2x c-options__icon"><use xlink:href="images/icons.svg#svg-two-drops"/></svg>
                      </span>
                      <span class="c-options__text t-text--light c-options__text">Regularly</span>
                      <input type="radio" name="waterValue" value="regularly" class="c-options__input">
                    </div>
                  </div>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <span class="c-btn__icon">
                        <svg class="c-options__icon o-icon o-icon--2x o-icon--color-sun"><use xlink:href="images/icons.svg#svg-three-drops"/></svg>
                      </span>
                      <span class="c-options__text t-text--light">Daily</span>
                      <input type="radio" name="waterValue" value="daily" class="c-options__input">
                    </div>
                  </div>
                </div>
              </div>

              <div class="o-survey__buttons">
                <button data-stage-command="next" class="c-btn c-btn--primary c-btn--large c-btn--has-icon t-text--light o-survey__button">
                  <span class="c-btn__icon">
                    <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-right"/></svg>
                  </span>
                  <span class="c-btn__text">Next</span>
                </button>
                <button data-stage-command="prev" class="c-btn c-btn--default c-btn--large c-btn--has-icon t-text--light o-survey__button">
                  <span class="c-btn__icon">
                    <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-left"/></svg>
                  </span>
                  <span class="c-btn__text">Previous</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="o-stage__step o-wall" data-stage-step="3" data-step-label="Pets">
        <div class="o-container">

          <div class="o-survey">

            <div class="o-survey__logo o-logo--wrap o-wall__logo">
              <img src="../assets/images/logo-greenthumb.svg" alt="greenthumb logo" class="o-wall__logo__image">
            </div>

            <figure class="o-survey__figure">
              <img src="../assets/images/dog.png" alt="dog face" class="o-image--dog o-survey__image">
            </figure>

            <h2 class="o-survey__title o-title o-title--default o-color--default">
              Do you have pets? <span class="o-breakline--mobile-down"></span>Do they <em class="t-text--bold">chew</em> plants?
            </h2>

            <p class="o-survey__text o-color--default">
              We are asking because some plants <span class="o-breakline--mobile-down"></span>can be <em class="t-text--bold">toxic</em> for your buddy.
            </p>

            <div class="o-survey__wrap">
              <div class="o-survey__options">
                <div class="c-options c-options--primary" data-js-options>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <svg class="c-options__icon o-icon o-icon--2x"><use xlink:href="images/icons.svg#svg-pet"/></svg>
                      <span class="c-options__text t-text--light">Yes</span>
                      <input type="radio" name="petsValue" value="true" class="c-options__input">
                    </div>
                  </div>
                  <div class="c-options__item c-options__item--has-icon">
                    <div class="o-panel c-options__panel">
                      <svg class="c-options__icon o-icon o-icon--2x c-options__icon"><use xlink:href="images/icons.svg#svg-no-answer"/></svg>
                      <span class="c-options__text t-text--light c-options__text">No/They don’t care</span>
                      <input type="radio" name="petsValue" value="false" class="c-options__input">
                    </div>
                  </div>
                </div>
              </div>

              <div class="o-survey__buttons">
                <button data-stage-command="next" class="c-btn c-btn--primary c-btn--large c-btn--has-icon t-text--light o-survey__button">
                  <span class="c-btn__icon">
                    <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-right"/></svg>
                  </span>
                  <span class="c-btn__text">Next</span>
                </button>
                <button data-stage-command="prev" class="c-btn c-btn--default c-btn--large c-btn--has-icon t-text--light o-survey__button">
                  <span class="c-btn__icon">
                    <svg class="o-icon o-icon--1x"><use xlink:href="images/icons.svg#svg-arrow-left"/></svg>
                  </span>
                  <span class="c-btn__text">Previous</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="o-stage__step o-wall" data-stage-step="4" data-step-label="Catalog">
        <div class="o-catalog">
          <div class="o-container o-catalog__container">
            <div class="o-catalog__logo o-logo--wrap o-wall__logo">
              <img src="../assets/images/logo-greenthumb.svg" alt="greenthumb logo" class="o-wall__logo__image">
            </div>
            <figure class="o-catalog__figure o-image--pick">
              <img src="../assets/images/pick.png" alt="A hand picking a plant" class="o-image--pick">
            </figure>

            <h2 class="o-catalog__title o-title o-title--primary o-title--highlight o-color--primary">
              Our picks <span class="o-breakline--mobile-down"></span>for you
            </h2>


          </div>
          <div class="o-catalog__grid">
            <div
              class="o-catalog__grid__container"
              ref="catalog-list"
              data-js-slider
              data-js-slider-width-unit="320"
              data-js-slider-space-between="20">
            </div>
          </div>
        </div>
      </section>

      <section class="o-stage__step o-wall" data-stage-step="5" data-step-label="Product">
        <div class="o-product">
          <div class="o-container o-product__container">
            <div class="o-product__logo o-logo--wrap o-wall__logo">
              <img src="../assets/images/logo-greenthumb.svg" alt="greenthumb-logo" class="o-wall__logo__image">
            </div>

            <div class="o-product__grid">
              <div class="o-product__grid__item" data-js-product>

              </div>
              <div class="o-product__grid__item">
                <form class="c-form" data-js-form>

                  <div class="c-form__request">

                    <h3 class="c-form__title o-title o-title--highlight c-form--space-left">Nice pick!</h3>
                    <p class="c-form__description c-form--space-left">
                      Tell us your name and <span class="o-breakline--mobile-down"></span>e-mail<span class="o-breakline--tablet-up"></span>
                      and we will get in touch <span class="o-breakline--mobile-down o-breakline--tablet-up"></span>
                      regarding your order ;)
                    </p>

                    <div class="c-form__field">
                      <label for="" class="c-form__label c-form--space-left">Name</label>
                      <input type="text" name="name" class="c-form__input" placeholder="Crazy Plant Person">
                    </div>

                    <div class="c-form__field">
                      <label for="" class="c-form__label c-form--space-left">E-mail</label>
                      <input type="text" name="email" class="c-form__input" placeholder="plantperson@email.com">
                    </div>

                    <button type="submit" class="c-form__submit c-btn c-btn--primary c-btn--large c-btn--full">
                      send
                    </button>
                  </div>
                  <div class="c-form__message">
                    <h3 class="c-form__title o-title o-title--highlight">Thank you!</h3>

                    <p class="c-form__description">
                      You will hear from us soon. Please
                      check your e-mail!
                    </p>

                    <div class="c-form__figure">
                      <img src="../assets/images/envelop.png" alt="envelope full of plants" class="c-form__image">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>
</html>
